
.PaginaDeContato {
    padding-top: 150px;
    display: flex;
    justify-content: space-between; /* ou space-around, space-evenly, etc. */
}

.FormularioContato, .CardContato  {
    flex: 1; /* Ajusta os componentes para ter tamanhos proporcionais */
    padding: 10px;
    border: 1px solid #ccc;
}

.ContatoCard{
    width: 500px;
    height: 530px;
    padding: 16px;
}
.ContatoFormulario{
    height: 500px;
    border-top: 1px;
    padding: 16px;
}
.estilizacaoButton{
    width: 100%;
}

hr{
    border-color:#aaa;
    box-sizing:border-box;
    width:100%;  
  }

h4{
    font-family: 'Playfair Display', serif;
}
.Titulo{
    padding: 0;
}

.FundoCardContato{
    background-color: white;
}