/* Centralizar o formulário usando flexbox */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(36, 36, 36);
  /* Garante que o formulário fique centralizado na altura */
}

/* Estilo geral do formulário */
.login {
  background: none !important;
  padding: 40px;
  max-width: 400px;
  width: 100%;
  margin-top: 100px;
}

/* Estilo para os campos de input */
.login-input {
  margin-top: 8px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.login-input:focus {
  border-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Estilo para os rótulos dos campos */
.login-label {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

/* Estilo do texto auxiliar abaixo do input de email */
.login-text {
  font-size: 0.9em;
  color: #6c757d;
  margin-top: 5px;
}

/* Estilo para o checkbox */
.login-checkbox {
  margin-top: 15px;
  display: flex;
  align-items: center;
  color: #000000;
}

.login-checkbox label {
  margin-left: 5px;
}

/* Estilo do botão de submit */
.login-button {
  width: 100%;
  padding: 12px;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.8s ease;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #000000;
}

.form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}

.formlog {
  background-color: #353535;
  border: none !important;
  border-radius: 0;
  padding: 10px;
}

.formlog::placeholder{
  color: #888;
}

.login {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  background: rgba(255, 255, 255, 0); /* Fundo semitransparente */
  border-radius: 15px;
  z-index: 1;
  box-shadow: none !important;
}

.Titulocd{
  text-align: center;
  color: whitesmoke;
  font-size: 45px;
}

.lembre{
  color: aliceblue;
}