.map-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

iframe {
  border: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Filtro escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.remove-overlay-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #333;
}

.tituloof{
  color: white;
}

.textof{
  color: #ffffff;
  font-size: 15px !important;
  margin-right: 20px;
}

.botao2{
  padding: 10px;
  border: none;
  margin-right: 80px;
  background-color: darkorange;
  color: white;
  border-radius: 20px;
}

.fundoof{
  background-color: rgb(36, 36, 36);
}