.terms-privacy-container {
  padding: 20px;
  margin: 0 auto;  
  background-color: rgb(36, 36, 36);
}

.terms-of-use,
.privacy-policy {
  padding-top: 100px;
  margin-bottom: 30px;
  max-width: 800px;
  align-items: center !important;
  justify-content: center !important;
  justify-items: center !important;
  margin-left: 17%;
  text-align: center !important;
  color: white;

}

.termstitulo h1 {
  text-align: center;
  margin-bottom: 20px;
}

.termssub h2 {
  color: #ffffff;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.termsp p {
  line-height: 1.6;
  color: #ffffff !important;
}

.checktermos{
  color: rgb(180, 180, 180);
}